body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/montserrat/Montserrat-Black.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('../fonts/montserrat/Montserrat-Hairline.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/montserrat/Montserrat-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat/Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/roboto/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/roboto/Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.fn-rbt-light {
  font-family: 'Roboto-Light';
}

.fn-m-bold {
  font-family: 'Montserrat-Bold';
}

.fn-m-black {
  font-family: 'Montserrat-Black';
}

.fn-rbt-thin {
  font-family: 'Roboto-Thin';
}

.fn-hairline {
  font-family: 'Montserrat-Hairline';
}

.fn-m-light {
  font-family: 'Montserrat-Light';
}

.fn-m-regular {
  font-family: 'Montserrat-Regular';
}

.bottom-line {
  margin: 0 -6rem;
  border-bottom: 1px solid #f1f1f1;

  @include media ("<medium") {
    margin: 0;
  }
}

.br-2 {
  border-radius: 20px;
  border: 2px solid #000;
}

.btn-hosting {
  border-radius: 20px;
  border: 2px solid $blue-small;
}

.btn-chat {
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
}

.text-green {
  color: #2fb348;
}

.bg-grey {
  background-color: #f7f7f7;
}

.v-top {
  vertical-align: top
}

.default {
  color: #cfcfcf;
  padding: 3rem;
  margin: 0 -6rem;

  @include media ("<medium") {
    margin: 0 -1rem;
    text-align: center;
  }
}

.wrapper-bg-call {
  background-color: #1fa2f3;
  color: #fff;
  margin: 0 -6rem;

  @include media ("<medium") {
    margin: 0 -1rem;
  }
}

.wrapper-bg-share-link {
  background-color: #f7f7f7;
  color: #000;
  margin: 0 -6rem;

  @include media ("<medium") {
    margin: 0 -1rem;
  }
}
.w-25 {
  @include media ("<medium") {
    width: 50% !important;
  }
}

.w-50 {
  @include media ("<medium") {
    width: 100% !important;
  }
}

.text-share {
  @include media ("<medium") {
    font-size: 14px;
    text-align: center;
  }
}

.member {
  width: 15%;
  border-radius: 20px;

  @include media ("<medium") {
    width: 5% !important;
  }
}

.logo-bank li {
  width: 7%;
  float: left;
  margin-right: 5px;

  @include media ("<medium") {
    width: 20% !important;
  }
}

.mt-m-2 {
  @include media ("<medium") {
    margin-top: 2rem;
  }
}